# --- Ignored extensions ---
*.pyd
*.pyc
*.ignore
*.old
*.bam
*.egg
*.psd
*.blend1
*.blend2
*.pdb
*.stackdump
*.exr
*.trace

# --- Ignored folders and patterns ---
temp/
models/
data/normal_quantization/*.png
data/precomputed_grain/*.png
data/default_cubemap/filtered/
_DEV
toolkit/pathtracing_reference/mitsuba/

# --- Ignored files ---
TODO.txt
*.flag
desktop.ini
ScatteringLUT.png
