# --- Ignored extensions ---
*.pyd
*.pyc
*.ignore
*.old
*.egg
*.psd
*.blend1
*.blend2
*.pdb
*.stackdump
*.exr
*.trace
*.autogen*
*.mip
mitsuba.*.log
*.exr
*.txo.pz


# --- Ignored folders and patterns ---
temp/
models/
data/film_grain/*.png
data/default_cubemap/filtered/
_DEV
toolkit/pathtracing_reference/mitsuba/
toolkit/pathtracing_reference/scene*.png
toolkit/pathtracing_reference/Scene*.blend
toolkit/pathtracing_reference/envmap.png
rpplugins/clouds/resources/slices/*

toolkit/rp_distributor/built/

# --- Ignored files ---
TODO.txt
*.flag
desktop.ini
scattering_lut.png
old/
data/gui/loading_screen
data/environment_brdf/scene.png
data/environment_brdf/res/scene.png
toolkit/pathtracing_reference/batch_compare/
toolkit/pathtracing_reference/difference.png
toolkit/pathtracing_reference/res/Scene.blend
toolkit/pathtracing_reference/res/scene.png
toolkit/pathtracing_reference/scene*.png
toolkit/pathtracing_reference/res/tex/envmap.png
_tmp_material.py

*/poisson_disk_generator/source/config_module*

_bake_params*
raw-bake.png
toolkit/bake_gi/resources/*.bam
toolkit/bake_gi/resources/*.blend
toolkit/bake_gi/scene

.vscode
