recursive-include config *.prc
recursive-include config *.yaml
recursive-include data *.bam
recursive-include data *.ies
recursive-include data *.jpg
recursive-include data *.png
recursive-include data *.ttf
recursive-include data *.txo.pz
recursive-include data *.xml
recursive-include effects *.yaml
recursive-include rpcore *.glsl
recursive-include rpcore *.flag
recursive-include rpplugins *.ffxml
recursive-include rpplugins *.glsl
recursive-include rpplugins *.png
recursive-include rpplugins *.txo.pz
recursive-include rpplugins *.yaml
recursive-exclude rpcore/pynative *
